# Machine Learning Foundation

## Course 4, Part e: Non-Negative Matrix Factorization DEMO

This exercise illustrates usage of Non-negative Matrix factorization and covers techniques related to sparse matrices and some basic work with Natural Langauge Processing.  We will use NMF to look at the top words for given topics.

## Data

We'll be using the BBC dataset. These are articles collected from 5 different topics, with the data pre-processed. 

These data are available in the data folder (or online [here](http://mlg.ucd.ie/files/datasets/bbc.zip)). The data consists of a few files. The steps we'll be following are:

* *bbc.terms* is just a list of words 
* *bbc.docs* is a list of artcles listed by topic.

At a high level, we're going to 

1. Turn the `bbc.mtx` file into a sparse matrix (a [sparse matrix](https://docs.scipy.org/doc/scipy/reference/sparse.html) format can be useful for matrices with many values that are 0, and save space by storing the position and values of non-zero elements).
1. Decompose that sparse matrix using NMF.
1. Use the resulting components of NMF to analyze the topics that result.

## Data Setup

In [1]:
import numpy as np, pandas as pd, matplotlib.pyplot as plt, seaborn as sns, os
import types
from botocore.client import Config
import ibm_boto3

# Going to import bbc.mtx, bbc.terms, and bbc.docs into the notebook

In [2]:
# The code was removed by Watson Studio for sharing.

In [3]:
# The code was removed by Watson Studio for sharing.

In [4]:
# The code was removed by Watson Studio for sharing.

In [5]:
def download_file_cos(credentials,local_file_name,key):  
    cos = ibm_boto3.client(service_name='s3',
    ibm_api_key_id=credentials['IBM_API_KEY_ID'],
    ibm_service_instance_id=credentials['IAM_SERVICE_ID'],
    ibm_auth_endpoint=credentials['IBM_AUTH_ENDPOINT'],
    config=Config(signature_version='oauth'),
    endpoint_url=credentials['ENDPOINT'])
    try:
        res=cos.download_file(Bucket=credentials['BUCKET'],Key=key,Filename=local_file_name)
    except Exception as e:
        print(Exception, e)
    else:
        print('The file %s has been downloaded into this notebook' % key)

In [6]:
# For local file, input the name of what you want the file to be, for the key put name of the file on Cloud Object Storage
# it would be best if they match for ease
download_file_cos(credentials_1,'bbc.mtx','bbc.mtx')

The file bbc.mtx has been downloaded into this notebook

In [7]:
# For local file, input the name of what you want the file to be, for the key put name of the file on Cloud Object Storage
# it would be best if they match for ease
download_file_cos(credentials_2,'bbc.terms','bbc.terms')

The file bbc.terms has been downloaded into this notebook

In [8]:
# For local file, input the name of what you want the file to be, for the key put name of the file on Cloud Object Storage
# it would be best if they match for ease
download_file_cos(credentials_3,'bbc.docs','bbc.docs')

The file bbc.docs has been downloaded into this notebook

In [9]:
with open('bbc.mtx') as f:
    content = f.readlines()

In [10]:
# remove top 2 rows, not needed
content.pop(0)
content.pop(0)

'9635 2225 286774\n'

## Part 1

Here, we will turn this into a list of tuples representing a [sparse matrix](https://docs.scipy.org/doc/scipy/reference/sparse.html). Remember the description of the file from above:

* *bbc.mtx* is a list: first column is **wordID**, second is **articleID** and the third is the number of times that word appeared in that article.

So, if word 1 appears in article 3, 2 times, one element of our list will be:

`(1, 3, 2)`

In [11]:
sparsemat = [tuple(map(int,map(float,c.split()))) for c in content]
# Let's examine the first few elements
sparsemat[:8]

[(1, 1, 1),
 (1, 7, 2),
 (1, 11, 1),
 (1, 14, 1),
 (1, 15, 2),
 (1, 19, 2),
 (1, 21, 1),
 (1, 29, 1)]

## Part 2: Preparing Sparse Matrix data for NMF

We will use the [coo matrix](https://docs.scipy.org/doc/scipy/reference/generated/scipy.sparse.coo_matrix.html) function to turn the sparse matrix into an array.

In [12]:
import numpy as np
from scipy.sparse import coo_matrix
#subtracting one from each for rows and columns as each value at 1 and Python at 0
rows =   [x[1]-1 for x in sparsemat]
cols =   [x[0]-1 for x in sparsemat]
values = [x[2] for x in sparsemat]
coo =    coo_matrix((values, (rows, cols)))

In [13]:
with open('bbc.terms') as f:
    content = f.readlines()
words = [c.split()[0] for c in content]

In [14]:
with open('bbc.docs') as f:
    content = f.readlines()
docs  = [c.split()[0] for c in content]

In [15]:
df = pd.DataFrame(coo.toarray(), columns = words, index = docs)
df.head(5).append(df.tail(5))

,ad,sale,boost,time,warner,profit,quarterli,media,giant,jump,...,£339,denialofservic,ddo,seagrav,bot,wirelessli,streamcast,peripher,headphon,flavour
business.001,1,5,2,3,4,10,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
business.002,0,0,1,2,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
business.003,0,4,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
business.004,0,1,0,0,0,4,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
business.005,0,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
tech.397,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tech.398,0,0,0,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
tech.399,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tech.400,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
tech.401,0,1,0,22,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## NMF

NMF is a way of decomposing a matrix of documents and words so that one of the matrices can be interpreted as the "loadings" or "weights" of each word on a topic.

Check out [the NMF documentation](http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.NMF.html) and the [examples of topic extraction using NMF and LDA](http://scikit-learn.org/0.18/auto_examples/applications/topics_extraction_with_nmf_lda.html).

## Part 3

Here, we will import `NMF`, define a model object with 5 components, and `fit_transform` the data created above.

In [16]:
from sklearn.decomposition import NMF
model = NMF(n_components=5, init='random', random_state=818)
doc_topic = model.fit_transform(coo)

doc_topic.shape
# we should have 2225 observations (articles) and five latent features

(2225, 5)

In [17]:
# find feature with highest value per doc
np.argmax(doc_topic, axis=1)

array([1, 1, 1, ..., 3, 3, 2])

## Part 4: 

Check out the `components` of this model:

In [18]:
model.components_.shape

(5, 9635)

This is five rows, each of which is a "topic" containing the weights of each word on that topic. The exercise is to _get a list of the top 10 words for each topic_. We can just store this in a list of lists.

**Note:** Just like we read in the data above, we'll have to read in the words from the `bbc.terms` file.

In [19]:
# with open('bbc.terms') as f:
#     content = f.readlines()
# words = [c.split()[0] for c in content]

In [20]:
topic_words = []
for r in model.components_:
    a = sorted([(v,i) for i,v in enumerate(r)],reverse=True)[0:12]
    topic_words.append([words[e[1]] for e in a])

In [21]:
# Here, each set of words relates to the corresponding topic (ie the first set of words relates to topic 'Business', etc.)
pd.DataFrame(topic_words[:5])

,0,1,2,3,4,5,6,7,8,9,10,11
0,parti,labour,govern,elect,blair,peopl,tori,minist,plan,brown,sai,told
1,year,increas,wage,compani,busi,minimum,govern,rate,market,economi,pai,rise
2,game,plai,time,player,world,first,win,get,go,on,england,two
3,peopl,mobil,phone,technolog,servic,music,digit,user,network,on,tv,system
4,best,song,music,year,award,film,25,angel,robbi,british,think,vote

The original data had 5 topics, as listed in `bbc.docs` (which these topic words relate to). 

```
Business
Entertainment
Politics
Sport
Tech
```

In "real life", we would have found a way to use these to inform the model. But for this little demo, we can just compare the recovered topics to the original ones. And they seem to match reasonably well. The order is different, which is to be expected in this kind of model.

In [22]:
with open('bbc.docs') as d:
    doc_content = d.readlines()
    
doc_content[:8]

['business.001\n',
 'business.002\n',
 'business.003\n',
 'business.004\n',
 'business.005\n',
 'business.006\n',
 'business.007\n',
 'business.008\n']

In [23]:
topic_word = pd.DataFrame(model.components_.round(3),
             index = ["topic_1","topic_2","topic_3","topic_4","topic_5"],
             columns = words)
topic_word

,ad,sale,boost,time,warner,profit,quarterli,media,giant,jump,...,£339,denialofservic,ddo,seagrav,bot,wirelessli,streamcast,peripher,headphon,flavour
topic_1,1.110,0.000,0.148,1.805,0.000,0.000,0.000,0.290,0.000,0.008,...,0.000,0.00,0.004,0.005,0.000,0.000,0.000,0.000,0.000,0.000
topic_2,0.907,2.135,0.556,1.620,0.015,1.233,0.091,0.059,0.347,0.206,...,0.001,0.00,0.000,0.000,0.000,0.000,0.002,0.002,0.000,0.001
topic_3,0.678,0.412,0.051,4.003,0.038,0.000,0.000,0.190,0.084,0.128,...,0.001,0.00,0.000,0.000,0.000,0.000,0.000,0.002,0.005,0.000
topic_4,0.696,0.416,0.055,1.220,0.052,0.051,0.008,1.221,0.280,0.000,...,0.025,0.02,0.061,0.075,0.136,0.021,0.040,0.029,0.028,0.020
topic_5,0.475,0.373,0.124,0.986,0.022,0.042,0.000,0.052,0.021,0.252,...,0.000,0.00,0.000,0.000,0.000,0.000,0.005,0.000,0.000,0.000

In [24]:
topic_doc = pd.DataFrame(doc_topic.round(5),
            index = [i.split(".")[0] for i in docs],
            columns = ["topic_1","topic_2","topic_3","topic_4","topic_5"])
topic_doc.head(5).append(topic_doc.tail(5))

          topic_1  topic_2  topic_3  topic_4  topic_5
business  0.00000  0.27757  0.00680  0.08380  0.00000
business  0.03033  0.31001  0.00311  0.00000  0.00000
business  0.03685  0.17981  0.00000  0.00000  0.00000
business  0.00000  0.40197  0.00000  0.00000  0.00982
business  0.00061  0.14514  0.00890  0.03643  0.00765
tech      0.00000  0.10331  0.00000  0.37516  0.00000
tech      0.02170  0.05943  0.00000  0.29394  0.00000
tech      0.25508  0.22328  0.03813  0.26931  0.00000
tech      0.05870  0.09831  0.00509  0.15505  0.00511
tech      0.00000  0.00000  3.86234  0.06373  0.00000

In [25]:
topic_doc.reset_index().groupby('index').mean().idxmax()

topic_1         politics
topic_2         business
topic_3            sport
topic_4             tech
topic_5    entertainment
dtype: object

In [26]:
topic_word.T.sort_values(by='topic_3',ascending=False).head()

        topic_1  topic_2  topic_3  topic_4  topic_5
game      0.000    0.000   15.866    0.000    0.000
plai      0.120    0.000    6.753    0.020    1.230
time      1.805    1.620    4.003    1.220    0.986
player    0.000    0.000    2.932    1.481    0.186
world     0.617    1.577    2.871    0.939    0.527

---
### Machine Learning Foundation (C) 2020 IBM Corporation